.faq__itens {
  border-bottom: solid .001px hsl(240, 6%, 85%);
}

.faq__item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.faq__question {
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
  font-size: .8rem;
  font-weight: var(--regular-weight);  
}

.faq__question:hover {
  color: var(--soft-red);
}

.faq__icon {
  cursor: pointer;
  height: 8px;
  width: 10px;
  border: none;
}

.faq__answer {
  color: var(--dark-grayish-blue);
  display: none;
  font-size: .725rem;
  font-weight: var(--regular-weight);
  line-height: 1.5;
  padding: .75rem 1.5rem 0 0;
}

.active {
  color: var(--very-dark-desaturated-blue);
  font-size: .8rem;
  font-weight: var(--bold-weight);
}

#open {
  display: flex;
}

.arrow-up {
  transform: rotate(180deg);
}
